<div class="container">
  <h1>Calculadora</h1>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <label class="form-lable">Valor 1</label>
      <input type="number" class="form-input mt-3">
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <label class="form-lable">Valor 1</label>
      <input type="number" class="form-input mt-3">
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <label for="">Resultado</label>
      <input type="number" class="form-inpu mt-3" disabled>
    </div>
    <div class="col-4"></div>
  </div>
  
</div>
